@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.ant-space-item .ant-btn-primary {
    border-color: #002B5B !important;
    background: #002B5B !important;
    color: #fff !important;
}

.form-input-login label {
    font-size: 15px !important;
    font-weight: 500 !important;
    color: #002B5B !important;
}

button.ant-btn.ant-btn-primary {
    border-color: #002B5B !important;
    background: #002B5B !important;
}

.ant-progress-bg, .ant-progress-success-bg {
    background: #002B5B !important;
}

div.ant-tabs-nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

div.ant-tabs-nav-list .ant-tabs-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 14px;
}

div.ant-tabs-nav-list .ant-tabs-tab:hover {
    color: #002B5B !important;
    font-weight: 600;
}

div.ant-tabs-nav-list .ant-tabs-tab.ant-tabs-tab-active {
    border-bottom: 2px solid #002B5B;
    font-weight: 600;
}

div.ant-tabs-nav-list .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #002B5B !important;
}

div.ant-tabs-nav-list .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn:hover {
    color: #002B5B !important;
}

